<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036442137941-2rsd2cjojs5hil9en0ur3866pnj6ttgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036442137941-2rsd2cjojs5hil9en0ur3866pnj6ttgh</string>
	<key>API_KEY</key>
	<string>AIzaSyDlHFXG25UZgxihswGLLhjs5Vmx2D10r4w</string>
	<key>GCM_SENDER_ID</key>
	<string>1036442137941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.finwallet</string>
	<key>PROJECT_ID</key>
	<string>ewalletapp-a2b79</string>
	<key>STORAGE_BUCKET</key>
	<string>ewalletapp-a2b79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036442137941:ios:3ee878b640ca58b564abdc</string>
</dict>
</plist>